In [3]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sn

In [14]:
gdp = pd.read_csv("../Data/gdp_1947_2019.csv")
monetary_base = pd.read_csv("../Data/monetaryB_1975_2020.csv")
unemployment_rate = pd.read_csv("../Data/unrate_1948_2020.csv")

           DATE        GDP
0    1947-01-01    243.164
1    1947-04-01    245.968
2    1947-07-01    249.585
3    1947-10-01    259.745
4    1948-01-01    265.742
..          ...        ...
287  2018-10-01  20897.804
288  2019-01-01  21098.827
289  2019-04-01  21340.267
290  2019-07-01  21542.540
291  2019-10-01  21726.779

[292 rows x 2 columns]